@import "./global.css";

.button {
  border-radius: 50%;
  background: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:not(.disabled):hover {
  background: var(--green_hover);
  cursor: pointer;
}

.disabled {
  background: var(--gray);
}

.icon {
  height: 65%;
}
