@import "./global.css";

.message_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
