@import "./global.css";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  border-radius: 0.4rem;
  padding: 1rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  color: white;
  background: black;
  cursor: pointer;
  margin: 0.8rem 0;
}

input[type="text"] {
  padding: 0.5rem;
  appearance: none;
  border-style: solid;
  box-shadow: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px black solid;
}
